<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Cose da fare</title>
</head>
<body>
    <div id="container">
        <!-- inserimento item in lista -->
        <input id="in-text" type="text" placeholder="Inserisci un nuovo compito" v-model="newTextObj" @keyup.enter="addObj" >
        <button @click="addObj">
            Add 
        </button>
        <!-- lista -->
        <h1 v-if="object.length === 0">
            Hai finito gli obbiettivi, aggiungine un altro 
        </h1>
        <ul v-else>
            <li v-for="element, i in object" :key="i" :class="element.done === true? `madeIt` : `` ">
                {{element.text}}
                <span @click="objDone(i)" class="cross">
                    &cross;
                </span>
                <span @click="deleteObj(i)">
                    <i class="fas fa-trash-alt"></i>
                </span>
            </li>
        </ul>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="js/script.js"></script>
</body>
</html>